DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=qwer
DB_NAME=go_fastapi_grpc_db


SCAN_PORT_NMAP_USE_SUDO=true

# SonarQube + Trivy runtime
SONARQUBE_HOST=http://localhost:9000
SONARQUBE_TOKEN=
SONAR_SCANNER_BIN=sonar-scanner
TRIVY_BIN=trivy
SONAR_SCAN_TMP_ROOT=/tmp/aof-sonar
SONAR_SCAN_TIMEOUT_SECONDS=1200
TRIVY_SCAN_TIMEOUT_SECONDS=600
SONAR_CE_POLL_TIMEOUT_SECONDS=180
SONAR_KEEP_TMP=false

# OWASP Dependency-Check
OWASP_TIMEOUT=1800
OWASP_DATA_DIRECTORY=/root/.m2/repository/org/owasp/dependency-check/data
OWASP_NVD_API_KEY=
